<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>lovegari Twit!</title>
    

    <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/js/lightbox.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>

    <link type="text/css" rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/static/css/screen.css">
    <link rel="stylesheet" type="text/css" href="/static/css/lightbox.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"> 
</head>
<body>
    <div id="header">
        <h2>lovegari Twit!</h2>
    </div>    
    <div class="container">
        <p>
        {% if comment %}
        {{ comment }}
        {% endif %}
        </p>

        <form action="{{ url_for("upload_db") }}" enctype="multipart/form-data" method="POST">
            <p> 1. Pick up a image!      : <input type="file" name="photo"> </p>
            <p> 2. Comment on the image! : <input type="text" name="words">
            <input type="submit" value="submit"> </p>
        </form>

        <br><br>
        
        <div class="image-row">
            <div class="image-set">
                {% for items in all_list %}
                <a class="example-image-link" href="show/{{ items.key() }}" data-lightbox="example-set"><p>{{ items.text }}</p><img class="example-image" src="show/{{ items.key() }}" alt=""></a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>